.news-item {
  border-bottom: solid 1px grey;
  list-style-type: none;
}
.col-2 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.image-box {
  max-height: 10em;
  width: 20vw;
  height: auto;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
}
