.Header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: sticky;
  z-index: 11;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  box-shadow: 0px 1px 1px #888;
  height: var(--nav-height);
}

.Header h1 {
  margin: 0;
}

.Header a {
  color: red;
  text-decoration: none;
}
.log-in, .log-out {
  display: flex;
  flex-direction: row;
}
.nav-button {
  padding: 10px 20px 10px 20px;
  border-left: solid grey 2px;
  border-right: solid grey 2px;
  border-top: solid transparent 5px;
  border-bottom: solid transparent 5px;
}
.title {
  height: var(--nav-height);
}

@media screen and (min-width: 450px) {

}